<!DOCTYPE html>

<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>{{ catalog.name }}</h1>
		
		{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

		<a href = "{{url_for('newLatastItem', catalog_id = catalog.id )}}">Create New Item</a>
	</br></br>
	
	<h2>Latest Item</h2>
	
	    {% for i in items %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editLatestItem', catalog_id = catalog.id, latast_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteLatestItem', catalog_id = catalog.id, latest_id=i.id ) }}' >Delete</a>
</br>
</br>
		

		{% endfor %}

		

		{% else %}
		<p> You currently have no latest items. <p>
		<a href = "{{url_for('newLatestItem', catalog_id = catalog.id )}}">Create New Item</a>
			{% endif %}
</div>
	</body>

</html>
